body{
		font-family: 'Roboto', sans-serif;

	}
		.container {
			display: grid;
			background-color: red;
			grid-template-rows: 2fr 2fr 2fr;
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-areas: 
			"block" "block1" "block2" 
			"block3" "block4" "block5"
		}
		.block {
			background-color: blue;
			text-align: center;
		
		}
		.block1{
			background-color: purple;
			text-align: center;
		
		}
		.block2{
			background-color: green;
			text-align: center;
		}
			.block3{
			background-color: pink;
			text-align: center;
		}
		.block4{
			background-color: green;
			text-align: center;
		}
		.block5{
			background-color: yellow;
			text-align: center;
		}

		h1 {
            text-align: center;
			font-family: 'Slabo 27px', serif;
			font-size: 40px;
		}

		p{
			padding: 10px;
		}