<!DOCTYPE html>
<html lang="en">

<head>
	<meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="25 Days of GIPHY" />
  <meta name="twitter:description" content="Join in the Christmas countdown with GIPHY! #GIPVEGOODNESS #SHEFCODEFIRST" />
  <meta name="twitter:image" content="https://image.ibb.co/gMR7QG/Screen_Shot_2017_12_02_at_18_26_09.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>25 Days of Giphiness</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
