<!DOCTYPE html>
<html lang="en">
<head>
	<title>25 Days of Giphiness</title>
	<style>
		@import url('https://fonts.googleapis.com/css?family=Roboto|Slabo+27px');
	</style>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body >
<div id="snow">
	<h1 class="title">✨🎁 25 Days of GIPHY 🎄✨</h1>
	<div class="container1">
		{% for i, gif_url in enumerate(gifs, start=1) %}
			<div class="days day{{i}}">
				<h1>{{i}}</h1>
				<center><img src="{{gif_url}}" class="hidden" alt="some gif"></center>
			</div>
		{% endfor %}
	</div>

<br>
<footer class="footer">
	Made with by 💖
	<a href="about.html">#shefcodefirst team</a> &
	<a href="https://css-tricks.com/snippets/css/complete-guide-grid/" target="_blank">CSS Grid.</a>
</footer>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
 crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='index.js') }}"></script>

</body>
</html>
